.features-container {
  margin-bottom: 30px;
  text-align: center;
  padding: 50px;
  background-color: #ffffff;
}

.features-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.features-subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 40px;
  line-height: 1.5;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.stroke-text-main-features {
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.5px;
  font-size: 2.5rem;
  text-align: center; /* Centers text horizontally */
  

  /* Text Stroke */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;

  /* Gradient Fill */
  color: transparent;
  background: linear-gradient(90deg,#360751dd, #360751b8, #360751dd);
  -webkit-background-clip: text;
  background-clip: text;
}



.feature-card {
  background-color: #ece7ee;
  border: solid #51286814;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 180px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.feature-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.feature-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}
